.user {
  :global {
    .ant-btn {
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      border: 0;
      transform: translateY(1px);
      span {
        color: rgba(#000, 0.8);
        &.is-login {
          color: rgba(#000, 0.45);
        }
      }
      i {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 700;
      }
      &::after {
        display: none;
      }
    }
    .ant-popover {
      min-width: 90px;
      .ant-popover-inner-content {
        padding: 0;
        text-align: center;
        .ant-btn {
          width: 100%;
          height: 36px;
          border: 0;
        }
      }
    }
  }
}
